# -----------------------------------------------------------------------------
# development environment
# -----------------------------------------------------------------------------
.DS_STORE

# -----------------------------------------------------------------------------
# integrated development environments
# -----------------------------------------------------------------------------
.idea

# -----------------------------------------------------------------------------
# application
# -----------------------------------------------------------------------------
*.pyc

/front/public
/front/node_modules

/back/pip-log.txt

/data
